<div class="posters">
  @for (show of shows; track show.url) {
    <div class="poster" (click)="openDialog(show)" [class.pointer]="show.subItems">
      <img [src]="show.url || 'https://placehold.co/400x600/EEE/31343C'" loading="lazy" title="{{ show.id }}" alt="{{ show.id }}" class="poster__image" />
      
      @if (show.rating === 0) { // Overlay
        @let imgname = show.subItems?.length ? 'mouse' : 'notseen';
        <div class="overlay" [class.notseen]="imgname === 'notseen'">
          <img [src]="'assets/'+imgname+'.svg'" [alt]="imgname" class="overlay__icon">
        </div>
      } @else { // Rating corner
        <div class="poster__rating">
          <div class="text">{{ show.rating }}</div>
        </div>
      }
    </div>
  } 
</div>

<!-- 
  modal: Defines if background should be blocked when dialog is displayed.
  dismissableMask: Specifies if clicking the modal background should hide the dialog.	
  focusOnShow: Defihnes if the first element should automatically get focus on show.
-->
<p-dialog
  [modal]="true"
  [(visible)]="visible"
  [draggable]="false"
  [dismissableMask]="true"
  [resizable]="false"
  [focusOnShow]="false"
  [style]="{ maxWidth: '800px', width: '75vw' }"
  (onHide)="resetCarousel()"
>
  @if (selectedShow) {
    <!-- CAROUSEL -->
    <p-carousel 
      #carousel
      [value]="selectedShow.subItems!" 
      [numVisible]="3"
      [showIndicators]="false"
      [circular]="true"
      (onPage)="onCarouselPageChange($event)"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-show pTemplate="item">
        <div class="poster">
          <img [src]="show.url || 'https://placehold.co/400x600/EEE/31343C'" alt="{{ show.id }}" class="poster__image" />
            @if (show.rating === 0) {
              @let imgname = show.subItems?.length ? 'details' : 'notseen';
              <div class="overlay" [class.notseen]="imgname === 'notseen'">
                <img [src]="'assets/'+imgname+'.svg'" [alt]="imgname" class="overlay__icon" [class.notseen]="imgname === 'notseen'">
              </div>
            } @else {
              <div class="poster__rating">
                <div class="text">{{ show.rating }}</div>
              </div>
            }
        </div>
        <div class="poster__prefix">{{ show.prefix || show.id }}</div>
      </ng-template>
    </p-carousel>
  }
</p-dialog>