body {
  background-color: #181a1b;
}

.posters  {
  display: grid;
  grid-template-columns: repeat(auto-fill, 165px);
  justify-content: center;
  gap: 3px;
  max-width: 1200px;
  margin: 0 auto;
}



.poster {
  position: relative;
  overflow: hidden;

  &.eye-cursor {
    cursor: pointer;
  }
}

.poster__image {
  width: 165px;
  height: 250px;

  &--episode {
    width: 320px;
    height: 180px;
  }
}

.poster__rating { // copied from trakt.tv
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 30px 30px 0;
  border-color: transparent #b70a0a transparent transparent;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;

  .text {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: -22px;
    width: 15px;
    height: 30px;
    text-align: center;
    line-height: 12px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 15;
  }
}