body {
  background-color: #181a1b;
}

.posters  {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, auto)); // fluid grid
  justify-content: center;
  gap: 3px;
  max-width: 1300px;
  margin: 0 auto;

  &--stacked {
    position: relative;
    display: inline-block;
  }
}

.poster {
  position: relative;
  overflow: hidden;
  aspect-ratio: 2/3;
  background-color: #2a2d2e; // during loading

  &--multi {
    display: flex; // display segments as flex

    &:hover {
      .poster__segment:not(:hover) {
        width: 0%;
        
        .poster__rating,
        .overlay {
          opacity: 0;
        }
      }

      .poster__segment:hover {
        width: 100%;
        
        .poster__image {
          transform: scale(1.05);
        }
      }
    }
  }
}

.poster__image {
  width: 100%;
  height: 100%;
}

.poster__rating { // copied from trakt.tv
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 30px 30px 0;
  border-color: transparent #b70a0a transparent transparent;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;

  .text {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: -22px;
    width: 15px;
    height: 30px;
    text-align: center;
    line-height: 12px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 15;
  }
  
  .icon {
    position: absolute;
    top: 2px;
    right: -29px;
    width: 14px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

.poster__prefix {
  font-weight: bold;
  font-size: .9rem;
  color: #fff;
  text-align: center;
}

.poster__segment {
  height: 100%;
  position: relative;
  transition: all 0.4s ease;
  width: var(--segment-width);

  // Image of each segment
  .poster__image {
    object-fit: cover;
    transition: transform 0.4s ease;
  }

  // Effetto hover
  &:hover::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(255,255,255,0.1);
    pointer-events: none;
    z-index: 5;
  }
}

.pointer {
  cursor: pointer;
}

// PrimeNG overrides
.p-dialog-header-actions {
  display: none !important;
}

.overlay {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  opacity: .69;
  background-color: #000;

  &__icon {
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
  }
}